data/
results/
raw/
venv2/
.vscode/
venv-hail-0.2.105/
venv-hail-0.2.113/
*/iframe*
preprocessing/oligogenic-model/__pycache__/

*png
*crc
*csv
*tsv

.ipynb_checkpoints/
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
hail-*.log
job-log-*.txt
notebook.slurm
job*
